[run]
source = .
omit = 
    */tests.py
    */test_*.py
    */__pycache__/*
    */migrations/*
    */venv/*
    */env/*
    */.venv/*
    create_superuser.py
    manage.py
    */admin.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
